.linha{
    display: grid;
    margin: auto;
    top: 1174px;
    left: 336px;
    width: 980px;
    border: 9px solid #CFCFCF;
    opacity: 1;
}

.areaVantagens{
    margin: auto;
    padding: auto;
    top: 1173px;
    left: 336px;
    width: 1249px;
    background: var(--branco) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    border: solid;
}

.boxImage{
    row-gap: 10px;
    justify-content: center;
    display: block;
    flex-direction: column;
    left: 100px;
    background: var(--branco) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 4px 9px #00000029;
    border-radius: 10px;
    opacity: 1;
}
