*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background: rgb(57, 62, 63);
}

.line{
    background: chartreuse;
    width: 900px;
}

.areaVantagens{
    padding: 20%;
    display:grid;
    column-gap: 1%;
    row-gap: 1%;
    justify-content: center;
    grid-template-columns:80% 80%;
    grid-template-rows: 10% 10%;
    background-color: #ffffff;
    margin: 10%;
    box-shadow: 1px 4px 9px #00000029;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.boxImage{
    margin: 5%;
    height: 352px;
    width: 351px;
    justify-content: center;
    text-align: center;
    padding: 15px;
    box-shadow: 1px 4px 9px #00000029;
    border-radius: 10px;
}
